# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

# Note: This file tests all cases (could be equal to or different from those on sandbox/master)

name: Run Defined Tests on Frontend and Server (Non-Master, Non-Sandbox)

on:
  push:
    branches-ignore: [ sandbox, master ]
  pull_request:
    branches-ignore: [ sandbox, master ]

jobs:
  test_backend:
    runs-on: [ubuntu-latest]
    strategy:
      matrix:
        node-version: [13.x]
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.ref }}
    - name: Set up Node
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install sqlite3 globally
      run: |
        npm install node-gyp -g node-gyp
        npm i -g sqlite3
    - name: Run install on backend and test
      run: |
        cd WatchParty/backend/
        npm install
        npm run test
      env:
        CI: true
  test_frontend:
    runs-on: [ubuntu-latest]
    strategy:
      matrix:
        node-version: [13.x]
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.ref }}
    - name: Run test on frontend
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Run client install and test
      run: |
        cd WatchParty/client/
        npm install
        npm run test
      env:
        CI: true
  lint_frontend:
    runs-on: [ubuntu-latest]
    strategy:
      matrix:
        node-version: [13.x]
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.ref }}
    - name: Set up Node
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Run lint on frontend
      run: |
        cd WatchParty/client/
        npm install
        npm run lint
      env:
        CI: true
  lint_backend:
    runs-on: [ubuntu-latest]
    strategy:
      matrix:
        node-version: [13.x]
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.ref }}
    - name: Set up Node
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Run lint on backend
      run: |
        cd WatchParty/backend/
        npm install
        npm run lint
      env:
        CI: true
